extends ../template

block variables
    - var title = 'Блог'

block content
    section.sliding_bar 
        .slide__menu
            a.slide_toggle
            ul(style={display: 'none'}).slide_post_list.slide_post_list
                each item in ['Самое важное в SASS', 'Самый необходимый набор Gulp плагинов', 'Приёмы в вёрстке, без которых не обходится ни один сайт', 'Почему я выбрал Jade']
                        li.slide_post_list__item
                            a.slide_article #{item}   
    include ../common/hero.pug
    section.section.blog 
            
        .blog__menu
            ul.post_list
                each item in ['Самое важное в SASS', 'Самый необходимый набор Gulp плагинов', 'Приёмы в вёрстке, без которых не обходится ни один сайт', 'Почему я выбрал Jade']
                        li.post_list__item
                            a.article #{item}
        .blog__content            .
            - var text1 = "Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия."
            - var text2 = "Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия."
            - var text3 = "Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям."
            - var text4 = "Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям."
            - var date1 = '27 ноября 2016'
            - var date2 = '12 августа 2016'
            - var date3 = '03 мая 2016'
            - var date4 = '19 декабря 2015'
            mixin posts(title, pDate, article_text, image)
                li.post
                    .section__title.post__title=title
                    .post__date=pDate
                    p.post__text=article_text
                    hr(color="gray", size="2px")

            
            ul.blog__posts
                +posts('Самое важное в SASS', date1, text1)
                +posts('Самый необходимый набор Gulp плагинов', date2, text2)
                +posts('Приёмы в вёрстке, без которых не обходится ни один сайт', date3, text3)
                +posts('Почему я выбрал Jade', date4, text4)
                +posts('Самое важное в SASS', date1, text1)
                +posts()
                
    include ../common/footer.pug
    
